ion-content{
  text-align: center;
  ion-card{
    margin: 5%;
      ion-img{
        width: 150px;
        margin-left: 30%
      }
  }
}
.volver{
    height: 50px;
    margin-top:15px;
    --background:#3880ff;
    color:#fff;
    width:40%;
    margin-left: 6%;    
  }
.eliminar{
    height: 50px;
    margin-top:15px;
    --background:#fff;
    color:#3880ff;
    width:40%;
    margin-left: 6%;    
    border: solid 1px #3880ff;
    border-radius: 5px;
  }