ion-menu-button {
  color: var(--ion-color-primary-contrast);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  ion-note{
    color: rgb(165, 165, 165);
    font-weight: bold;
  }
  ion-item{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    color: #fff;
    //height: 100px!important;
  }
  .iconPrincipal{
    font-size: 60px;
    width: 45px;
    margin-left: 5%;
  }
  .reservarCita{
    text-align:left;
    ion-label{
      color: blue;
      margin-top: 12%;
      margin-bottom : 12%;
      font-weight: bold;
    }
    ion-icon{
      color: blue;
    }
  }
  //transform: translateY(-50%);
}
.containerDatos{
  .nombreUsuario{
    margin-left: 5%;
    ion-note{
      font-size: x-large;
    }
    ion-label{
      font-size: small;
    }
  }
  ion-img{
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
}