<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list-header>Home</ion-list-header>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">HOLA</ion-title>
    </ion-toolbar> -->
  </ion-header>
  
  <div id="container">
    <ion-note>En qué podemos ayudarte hoy?</ion-note>
      <ion-item color="primary">
        <ion-icon class="iconPrincipal" name="walk" slot="start"></ion-icon>
        <ion-label  >Mis resultados <br> de Laboratiorio</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item color="tertiary">
        <ion-icon class="iconPrincipal" name="walk" slot="start"></ion-icon>
        <ion-label  >Mis recetas</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item color="medium">
        <ion-icon class="iconPrincipal" name="walk" slot="start"></ion-icon>
        <ion-label  >Mis citas médicas</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <br><br>
      <ion-item class="reservarCita" color="light">
        <ion-label >RESERVAR CITA</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    <!-- <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
