
    ion-grid{
        padding:18px;
    }
    ion-content{
        --background: #0392ce!important; 
      }
    ion-input {
        /* --background:rgba(255,255,255,0.6);  */
        color:grey;
        height: 50px;
        border-bottom:none!important;
    }
    ion-select{
        /* color:#000!important;
        height: 50px;
        border-bottom:transparent!important;
        width: 100%;
        justify-content: center; */
         width: 100%!important;
          min-width:100%;
          //background:#fff;
          font-size:.8em;
          color:#061175!important;
          height:50px;
  
    }
    ion-item{
        //background-color:rgba(255,255,255,0.6);
        //border-bottom:transparent!important;
        border: 1px solid grey;
        border-radius: 5%;
    }
    .inicioSesion {
        margin-top: 5px;
        color:#fff;
        box-shadow: none;
        height: 50px;
        border-top-right-radius: 15px;
        width:90%;
        margin-left:5%;
        --background: #135a97!important;
    }
    ion-label{
        color: grey!important;
        font-size:.8em;
        //color:#fff;
    }
    .textoOlvido{
      color:#fff;
      text-align: center;
      margin-bottom: 20px;
      font-weight: bold;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 10px;
      width: 60%;
      margin-left: 20%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .containerInputs{
      margin-top:12vh;
    }
    .register{
      text-transform: capitalize;
      width: 90%;
      margin-left:5%;	
      text-align: right;
      border: solid 2px #fff;
      border-radius:5px;
      --background:#0392ce;
      height: 50px;
      color:#fff;
      //--border-color: rgb(44, 186, 252);
    }
    
  .circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    margin-left: 35%;
    margin-top: 10%;
}

.eyePass{
  position: absolute;
  //align-items: center;
  right: 0;
  //bottom: 15%;
  top: 7px;
  color:black;
  //width: 100px!important;
}