<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <div class="contenedorTextoInicial">
    <h4 class="registroDeUsuarioTitulo">Llena los campos para completar tu registro.</h4>
  </div>

  <form [formGroup]="registerForm" novalidate padding class="formulario">
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none" color="tint">
          <ion-select  formControlName="documentType" name="documentType" placeholder="Tipo de documento" [(ngModel)]="document"  placeholder="Tipo de documento">
            <ion-select-option >DNI</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="registerForm.get('documentType').errors && registerForm.get('documentType').dirty || registerForm.get('documentType').touched" no-lines>
            <p  *ngIf="registerForm.get('documentType').hasError('required')" class="error">Tipo de documento requerido</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" color="tint">
          <ion-label *ngIf="!_documenType" position="floating">Nº de documento</ion-label>
          <ion-input *ngIf="!_documenType" ></ion-input> 
          <ion-label *ngIf="_documenType && _documenType.id == 3" position="floating">Nº de Carne</ion-label>
          <ion-input *ngIf="_documenType && _documenType.id == 3" type="tel"   formControlName="documentNumber" name="documentNumber" [(ngModel)]="documentNumber"
          minlength=12 maxlength=12 stacked></ion-input>
          <ion-label *ngIf="_documenType && _documenType.id == '1'" position="floating">Nº de Dni</ion-label>
          <ion-input *ngIf="_documenType && _documenType.id == '1'" type="number" formControlName="documentNumber" name="documentNumber" [(ngModel)]="documentNumber"
            minlength=8 maxlength=8  stacked></ion-input>
            <ion-label *ngIf="_documenType &&_documenType.id == 2" position="floating">Nº de Pasaporte</ion-label>
            <ion-input *ngIf="_documenType &&_documenType.id == 2"  type="number" formControlName="documentNumber" name="documentNumber" [(ngModel)]="documentNumber"
            minlength=12 maxlength=12 stacked></ion-input>
          <!-- <p color="danger" ion-text *ngIf="registerForm.get('dni').hasError('required')">DNI requerido</p> -->
        </ion-item>
        <div *ngIf="registerForm.get('documentNumber').errors && registerForm.get('documentNumber').dirty || registerForm.get('documentNumber').touched" placeholder="Nº de documento" no-lines>
            <p  *ngIf="registerForm.get('documentNumber').hasError('required')" class="error">El tipo de documento es requerido</p>
        </div>
      </ion-col>
     
    </ion-row>
    <ion-row >

      <ion-col size="12">
        <ion-item lines="none" color="tint">
          <ion-label position="floating">Nombres</ion-label>
          <ion-input type="text" formControlName="name" name="name" [(ngModel)]="name"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty || registerForm.get('name').touched" no-lines>
            <p *ngIf="registerForm.get('name').hasError('required')" class="error">El nombre es requerido</p>
        </div>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none" color="tint">
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input type="text" formControlName="surname1" name="surname1" [(ngModel)]="surname1"></ion-input> 
        </ion-item>
        <div *ngIf="registerForm.get('surname1').errors && registerForm.get('surname1').dirty || registerForm.get('surname1').touched" no-lines>
                <p *ngIf="registerForm.get('surname1').hasError('required')" class="error">El apellido paterno requerido</p>
        </div>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none" color="tint">
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input type="text" formControlName="surname2" name="surname2" [(ngModel)]="surname2"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('surname2').errors && registerForm.get('surname2').dirty || registerForm.get('surname2').touched" no-lines>
                <p *ngIf="registerForm.get('surname2').hasError('required')" class="error">El apellido materno es requerido</p>
        </div>
      </ion-col>
      
      <ion-col size="6">
        <ion-item class="outpadding" lines="none" color="tint">
          <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
          <!-- <ion-input type="date" formControlName="birthdate" name="date_of_birth" placeholder="Fecha de nacimiento"></ion-input> -->
        </ion-item>
        <div *ngIf="registerForm.get('birthdate').errors && registerForm.get('birthdate').dirty || registerForm.get('birthdate').touched" no-lines>
          <p *ngIf="registerForm.get('birthdate').hasError('required')" class="error">La fecha de nacimiento es requerida</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" color="tint">
          <ion-label position="floating">Telefono</ion-label>
          <ion-input type="tel" formControlName="phone" name="phone"  [(ngModel)]="phone"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('phone').errors && registerForm.get('phone').dirty || registerForm.get('phone').touched" no-lines>
            <p *ngIf="registerForm.get('phone').hasError('required')" class="error">Teléfono requerida</p>
            <p *ngIf="registerForm.get('phone').hasError('minLength')" class="error">introducir mínimo 9 caracteres</p>
        </div>
      </ion-col>
      <ion-col size="12">
          <ion-item lines="none" color="tint">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" name="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('email').errors && registerForm.get('email').dirty || registerForm.get('email').touched" no-lines>
              <p *ngIf="registerForm.get('email').hasError('required')" class="error">Email requerido</p>
              <p *ngIf="registerForm.get('email').hasError('email')" class="error">El correo electronico no es valido</p> 
          </div>
        </ion-col>
      
   
    <ion-col size="12">
      <ion-item lines="none" color="tint">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required name="password" formControlName="password"[(ngModel)]="password"></ion-input>
      </ion-item >
      <div *ngIf="registerForm.get('password').errors && registerForm.get('password').dirty || registerForm.get('password').touched" no-lines>
          <p *ngIf="registerForm.get('password').hasError('required')" class="error">La contraseña es requerida caracteres</p>
          <p *ngIf="registerForm.get('password').hasError('minLength')" class="error">Introducir minimo 8 caracteres</p>
        </div> 
    </ion-col>
    <ion-col size="12">
      <ion-item style="border:solid 0px!important;" lines="none" color="tint">
        <ion-label class="terminosyCondiciones">Acepto los términos y condiciones</ion-label>
        <ion-checkbox s formControlName="aprobed" name="aprobed" [(ngModel)]="aprobed"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>
  
</form>
<ion-button type="submit" fill="block" color="primary" class="alto50">Registro</ion-button>

  
</ion-content>

