<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="regresar()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-note>Tienes 2 recetas hasta el momento</ion-note>
  <ion-card (click)="detalleReceta()">
    <ion-item class="contenedor">
      <div class="fecha">
        <ion-note>03</ion-note>
        <ion-label>MAYO</ion-label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="esp">
        <ion-note>Especialista:</ion-note><br>
        <ion-label>JUAN LUIS SAAVEDRA DELGADO</ion-label>
        <ion-note>Especialidad:</ion-note><br>
        <ion-label>Cardiología</ion-label>
      </div>
    </ion-item>
    <div class="vigencia">
      <ion-note> vigente hasta 30 de mayo</ion-note>
    </div>
  </ion-card>
  <ion-card  (click)="detalleReceta()">
    <ion-item class="contenedor">
      <div class="fecha">
        <ion-note>10</ion-note>
        <ion-label>JUNIO</ion-label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="esp">
        <ion-note>Especialista:</ion-note><br>
        <ion-label>JUAN LUIS SAAVEDRA DELGADO</ion-label>
        <ion-note>Especialidad:</ion-note><br>
        <ion-label>Cardiología</ion-label>
      </div>
    </ion-item>
    <div class="vigencia">
      <ion-note> vigente hasta 30 de mayo</ion-note>
    </div>
  </ion-card>
</ion-content>
