<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="regresar()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Mis Recetas / Detalle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-item class="contenedor">
      <div class="fecha">
        <br>
        <ion-note>03</ion-note>
        <ion-label>MAYO</ion-label>
      </div>
      <div class="esp">
        <ion-note>Especialista:</ion-note>
        <ion-label>JUAN LUIS SAAVEDRA DELGADO</ion-label><br>
        <ion-note>Especialidad:</ion-note>
        <ion-label>Cardiología</ion-label><br>
        <ion-note>Sede:</ion-note>
        <ion-label>Clinica del norte</ion-label>
      </div>
    </ion-item>
  </ion-card>
  <ion-card class="card2">
    <ion-item >
      <div class="dias"><br><br>
        <ion-note>05</ion-note>
        <ion-label>días de <br>tratamiento</ion-label>
      </div>
      <div class="tratamiento">
        <ion-title>DEXAMETASONA 2 MG + LORATADINA</ion-title>
        <ion-note>Inicio de tratamiento:</ion-note>
        <ion-label>03 - Mayo</ion-label><br>
        <ion-note>Fin de tratamiento:</ion-note>
        <ion-label>08 - Mayo</ion-label><br>
        <ion-note>Via:</ion-note>
        <ion-label>Oral</ion-label>
      </div>
    </ion-item>
    <div class="vecesxdia">
      <ion-note>1 vez por día</ion-note>
    </div>
    <ion-item class="card3">
      <div class="info">
        <ion-note>6-7am</ion-note>
        <ion-label>1 TABLETA RECUBIERTA</ion-label>
      </div>
    </ion-item>
    <br>
  </ion-card>
</ion-content>
